@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
// font-family: 'Bebas Neue', cursive;
// font-family: 'Jost', sans-serif;

.Brand {
  width: 100%;
  background-color: #181c2e;
}

.brand-cotainer {
  max-width: 1440px;
  margin: 0px auto;
  position: relative;
  text-align: center;
  padding-top: 34px;
  padding-bottom: 44px;
  padding:40px 100px;
}

.brand-cotainer h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 64px;
  font-weight: 400;
  color: #f7f8fa;
  padding-bottom: 44px;
}

.brand-cotainer h1 span {
  color: rgba(152, 204, 253, 1);
}

.brand-flex {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.brand-box {
  text-align: left;
  max-width: 350px;
  box-sizing: border-box;
  padding-bottom: 30px;
}

.brand-box img {
  display: block;
  margin: 0 80px;
}

.brand-box h2 {
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  font-size: 40px;
  color: rgba(247, 248, 250, 1);
  margin-top: 44px;
  margin-bottom: 24px;
}

.brand-box h2 span {
  color: rgba(152, 204, 253, 1);
}

.brand-box p {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: rgba(243, 245, 248, 1);
}

@media screen and (max-width: 1300px) {
  .brand-cotainer {
    padding: 43px 100px;
    width: 100vw;
    box-sizing: border-box;

  }
  // .brand-box {
  //   padding: 40px;
  // }
}
@media screen and (max-width: 1100px) {
  
  .brand-flex {
    flex-wrap: wrap;
  }
  .brand-box {
    max-width: 100%;
  }
}


@media screen and (max-width: 780px) {
  .brand-cotainer{
    padding-left: 40px;
    padding-right: 40px;

  }
}

@media screen and (max-width: 700px) {
  .brand-box p {
    font-size: 20px;
  }
  .brand-cotainer h1 {
    font-size: 32px;
  }
  .brand-box h2 {
    font-size: 32px;
  }

  .brand-flex {
    justify-content: left;
  }
  .brand-box {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    padding-left: 0px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .brand-box p {
    padding-right: 50px;
  }
}
