@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
// font-family: 'Bebas Neue', cursive;
// font-family: 'Jost', sans-serif;

.Brand {
  width: 100%;
}

.brand-cotainer {
  max-width: 1440px;
  margin: 100px auto;
  position: relative;
  text-align: center;
}

.equity_ti {
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  font-size: 48px;
  color: #f7f8fa;
  margin-bottom: 72px;
}

.equity_flex {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  position: relative;
}

.equity_container {
  width: 337px;
  text-align: center;
  color: white;
  padding: 5px;
  margin: 0px 30px 20px 30px;
}

.equity_container img {
  padding-bottom: 45px;
}

.equity_container p {
  font-family: "Jost", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #f3f5f8;
}

.equity_container span {
  color: #3cb9ff;
}

.equity_tittle_span,
.equity_tittle {
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  font-size: 40px;
  color: #f7f8fa;
}

.equity_tittle_span {
  margin-bottom: 92px;
}

.equity_tittle {
  margin-bottom: 44px;
}

.equity_back {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.03;
  background-image: url(../../photos/equityBack.svg);
  box-shadow: inset 300px 100px 100px #151722, inset -300px -100px 100px #151722;
  background-repeat: no-repeat;
  background-size: contain;
    margin-bottom: 44px;
}

@media (max-width: 720px) {
  .equity_flex {
    margin: 0 auto 36px auto;
}
  .equity_container {
    margin: 0px 5px;
}
    .equity_tittle_span {
        margin-bottom: 37px;
    }
    .equity_container img {
        padding-bottom: 20px;
    }
    .equity_ti {
        font-size: 48px;
        margin-bottom: 20px;
    }
}

@media (max-width: 540px) {
  .equity_flex {
    margin: 0 auto 36px auto;
}
    .brand-cotainer {
        margin: 3px auto;
    }
    .equity_ti {
        font-size: 35px;
        margin-bottom: 20px;
    }
    .equity_container img {
        padding-bottom: 20px;
        width: 150px;
    }
    .equity_tittle_span {
        margin-bottom: 37px;
        font-size: 28px;
    }
    .equity_container p {
        font-family: "Jost", sans-serif;
        font-weight: 300;
        font-size: 18px;
        color: #F3F5F8;
        padding: 0 35px;
    }
    .equity_tittle {
        margin-bottom: 44px;
        font-size: 28px;
          padding: 0 61px;

    }
}

@media (max-width: 420px) {
    .equity_container p {
        padding: 0 35px;
    }
    .equity_flex {
      margin: 0 auto 36px auto;
  }
}

@media (max-width: 360px) {
    .equity_container {
        margin-right: -5px;
    }
    .equity_tittle {
        padding: 0 55px;
    }
}


.equity_back {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.03;
  background-image: url(../../photos/equityBack.svg);
  box-shadow: inset 300px 100px 100px #151722, inset -300px -100px 100px #151722;
  background-repeat: no-repeat;
  background-size: contain;
}
