@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
// font-family: 'Bebas Neue', cursive;
// font-family: 'Jost', sans-serif;

.Cases {
  width: 100%;
  background-color: #181c2e;
  padding-bottom: 44px;
}

.cases-container {
  max-width: 1440px;
  min-height: max-content;
  margin: 0 auto;
  position: relative;
}

.cases-container h1 {
  text-align: center;

  font-family: "Bebas Neue", cursive;
  font-size: 64px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}
.cases-container {
  padding-top: 30px;
}

.cases-container h1 span {
  color: rgba(152, 204, 253, 1);
}

.cases-bg-container {
  max-width: 1440px;
  min-height: 1023px;
  margin: -3px auto;
  position: relative;
  display: flex;
  overflow: hidden;
  z-index: 2;
}

.sky {
  width: 100%;
}

.sky img {
  width: 100%;
}

.sloy1 {
  position: absolute;
  top: 0;
  left: 0;
}

.sloy2 {
  position: absolute;
  top: 0;
  left: 584px;
  z-index: 2;
}

.sloy3 {
  position: absolute;
  top: 0;
  right: -1px;
  z-index: 1;
}

.man-container {
  width: 680px;
  height: 680px;
  margin: 156px auto;
  position: relative;
  overflow: hidden;
  z-index: 5;
}

.oblako1 {
  position: absolute;
  top: -94px;
  right: -11px;
}

.oblako2 {
  position: absolute;
  top: 119px;
  left: -3px;
}

.oblako3 {
  position: absolute;
  top: 421px;
  left: 168px;
  z-index: 6;
}

.man {
  position: absolute;
  top: 44px;
  left: 155px;
}

.text {
  position: absolute;
  top: 78px;
  left: 168px;
}

.content-part {
  width: 100%;
  z-index: 12;
  position: absolute;
  top: 0px;
  left: 0;
  padding: 44px 100px 43px 100px;
  display: flex;
  justify-content: space-between;
}

.case-l {
  max-width: 600px;
  padding-right: 230px;
}

.case-l p {
  font-size: 24px;
  font-weight: 500;
  color: rgba(207, 215, 231, 1);
  font-family: "Jost", sans-serif;
  padding-bottom: 24px;
}

.case-l h3 {
  font-size: 34px;
  font-weight: 400;
  color: rgba(247, 248, 250, 1);
  font-family: "Jost", sans-serif;
  padding: 10px 0px;
}

.case-r {
  max-width: 600px;
  text-align: right;
  padding-left: 230px;
}

.case-r p {
  font-size: 24px;
  font-weight: 500;
  color: rgba(207, 215, 231, 1);
  font-family: "Jost", sans-serif;
  padding: 0px 10px 24px 10px;
}

.case-r h3 {
  font-size: 34px;
  font-weight: 400;
  color: rgba(247, 248, 250, 1);
  font-family: "Jost", sans-serif;
  padding: 10px 0px;
}

@media (max-width: 1200px) {
  .content-part {
    position: static;
  }
  .case-r {
    padding-left: 100px;
  }
  .case-l {
    padding-right: 100px;
  }
  .content-part {
    background-position: 0 30% 75%;
  }
}

@media (max-width: 820px) {
  .cases-container h1 {
    font-size: 32px;
  }
  .content-part {
    display: block;
  }
  .case-l {
    text-align: center;
    padding-right: 0px;
    width: 100%;
  }
  .case-r {
    padding-left: 0px;
    width: 100%;
    text-align: center;
  }
  .case-l p,.case-r p{
    padding-right: 50px;
    text-align: left;
  }
}

@media (max-width: 720px) {
  .oblako3 {
    left: calc(50% - 140px);
  }
  .man {
    left: calc(50% - 205px);
    width: 310px;
  }
  .text {
    top: 30px;
    left: calc(50% - 220px);
  }
  .content-part {
    padding: 40px;
  }
  .man-container {
    margin: 156px auto 0px auto;
  }
  .cases-bg-container {
    min-height: 862px;
  }
  .case-r p,
  .case-l p {
    font-size: 20px;
  }
  .case-l h3,
  .case-r h3 {
    font-size: 24px;
  }
}

@media (max-width: 540px) {
  .oblako3 {
    left: calc(50% - 176px);
  }
}

@media (max-width: 420px) {
  .man img {
    width: 300px;
  }
  .oblako3 {
    top: calc(280px);
  }

  .man {
    left: calc(50% - 150px);
  }
  .text img {
    width: 80vw;
  }
  .text {
    left: 57px;
    top: 43px;
  }

  .case-l h3 {
    font-size: 24px;
  }
  .case-l p {
    font-size: 20px;
  }
}

@media (max-width: 360px) {
}
