@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
// font-family: 'Bebas Neue', cursive;
// font-family: 'Jost', sans-serif;

.Help {
  width: 100%;
}

.help_container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  padding-top: 34px;
  padding-bottom: 58px;
}

.help_container h1 {
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  font-size: 64px;
  color: rgba(255, 255, 255, 1);
  padding-bottom: 44px;
}

.help_container h1 span {
  color: rgba(152, 204, 253, 1);
}

.help-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  flex-wrap: wrap;
}

.flex-box {
  max-width: 350px;
}

.flex-box h2 {
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  font-size: 40px;
  color: rgba(247, 248, 250, 1);
  padding-top: 44px;
  padding-bottom: 24px;
}

.flex-box p {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: rgba(243, 245, 248, 1);
  text-align: left;

}

@media screen and (max-width: 1200px) {
  .flex-box {
    box-sizing: border-box;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1100px) {
  .flex-box {
    max-width: 100%;
    width: 100%;
  }
  .flex-box p{
    padding-right: 50px;
  }
}
@media screen and (max-width: 842px) {
  .flex-box {
    margin-right: 0;
  }
}
@media screen and (max-width: 780px) {
  .help-flex {
    padding: 0 40px;
  }
  .flex-box {
    padding: 0;
  }
}

@media screen and (max-width: 700px) {
  .flex-box p {
    font-size: 20px;
  }
  .flex-box h2 {
    font-size: 32px;
  }
  .help_container h1 {
    font-size: 32px;
  }
  .flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
