@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
// font-family: 'Bebas Neue', cursive;
// font-family: 'Jost', sans-serif;

* {
  box-sizing: border-box;
}

.solution {
  width: 100%;
}

.solution_container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  padding-top: 40px;
  padding-bottom: 70px;
  text-align: center;
}

.solution_container h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 64px;
  font-weight: 400;
  color: #F7F8FA;
  padding-bottom: 14px;
}

.solution_container h1 span {
  color: rgba(152, 204, 253, 1);
}

.solution-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.solution-cont {
  text-align: left;
}

.solution-cont p {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 34px;
  color: #F3F5F8;
  padding-bottom: 44px;
}

.solution-img {
  position: relative;
  width: 497px;
  height: 680px;
  margin-left: -152px;
}

.robotSolution {
  z-index: 3;
  position: absolute;
  bottom: 0;
  right: 0;
}

.metalGears {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}