@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');


header {
    width: 100%;
    background-color: #DE015F;
    position: sticky;
    border-bottom: 1px solid #DDABBD;
    border-top: 1px solid #DDABBD;
    z-index: 5;
    top: 0px;

}

.header-container {
    display: flex;
    max-width: 1440px;
    height: 57px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0px 272px;
}

.header-container a {
    color: white;
    text-decoration: none;
    font-size: 29px;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    transition: .3s;
}

.header-container a:hover {
    color: #3CB9FF;
}

