@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');


header {
    width: 100%;
    background-color: #151722b1;
    position: fixed;
    border-bottom: 2px solid #A5B3FF;
    z-index: 5;
}

.header-container {
    display: flex;
    max-width: 1620px;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
    margin: 0 auto;
}

.header-container a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    transition: .3s;
}

.header-container a:hover {
    color: #3CB9FF;
}

