@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.difference {
    width: 100%;
    background-color: #151722;
}

.difference-container {
    max-width: 1920px;
    padding: 205px 0px;
    position: relative;
    background-color: #151722;
    text-align: center;
    margin: 0 auto;
}

.difference-container span {
    color: #3CB9FF;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
}

.difference-container h1 {
    color: white;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px; 
    z-index: 3;  
}

.differ-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
}

.flex-diff {
    max-width: 1620px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 3;
    padding: 111px 10px;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
    flex-wrap: wrap;
    text-align: center;
}

.box {
    color: white;
    text-align: center;
    z-index: 3;
    margin: 20px;
}

.box h2 {
    font-size: 36px;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    padding: 50px 0px;
}

.box p {
    font-size: 24px;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    color: #d2d2d2c8;
}