@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

*{
    margin: 0;
    padding: 0;
}

.App{
    width: 100vw;
    background-color: #151722;

}

.logoName {
    max-width: 1165px;
    margin: 0 auto;
    padding: 10px 20px;
}

.logoName img {
    width: 226px;
    height: 81px;
}


.flag {
    position: fixed;
    bottom: 200px;
    right: 0;
    width: 150px;
    padding: 10px 36px;
    background-color: #91B3CF;
    color: rgba(231, 237, 242, 1);
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Jost', sans-serif;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none; 
    animation: hire 2s infinite;
    transition: .3s;
    z-index: 100;
}

.flag:hover {
    animation-play-state: paused;
}

@keyframes hire {
    0% {
        box-shadow: none ;
    }

    50% {
        box-shadow: 0px 0px 10px 2px white ;
    }

    100% {
      box-shadow: none;
    }
  }

@media (max-width: 1100px){
    .logoName {
        padding: 10px 118px;
    }
}

@media (max-width: 780px) {
    .logoName {
        padding: 10px 20px;
    }
    .logoName img {
            width: 177px;
       }
}

@media (max-width: 520px) {
    .logoName {
        padding: 10px 20px;
    }
    .logoName img {
        width: 154px;
    }
}

@media (max-width: 720px) {
    .flag {
        width: 100px;
        padding: 10px 26px;
        font-size: 10px;
        bottom: 110px;
        z-index: 100;
    }
}