.clients_container {
  width: 100vw;
  max-width: 1440px;
  height: 900px;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  // overflow: hidden;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition-duration: 1s;
}

.clients_container h1 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;
  color: #f7f8fa;
}

.clients_container h1 span {
  color: #61c6ff;
}

.clients_slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(600px * 7 + 20px * 7);
  height: 500px;
  padding-top: 100px;
  transition-duration: 1s;
}

.client_primary {
  width: 100%;
  max-width: 600px;
  width: 600px;
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background: rgba(123, 176, 255, 0.25);
  backdrop-filter: blur(5px);
  margin-left: 20px;
  transition-duration: 1s;
}

.clients_transpareny {
  width: 100%;
  max-width: 600px;
  height: 450px;
  margin-left: 20px;
  transition-duration: 1s;
}

.client_primary img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.client_primary p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #d8e5ff;
}

.client_primary span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  color: #b7dcef;
}

.client_secondary {
  background: rgba(123, 176, 255, 0.15);
  backdrop-filter: blur(5px);
  width: 600px;
  transition-duration: 1s;
  max-width: 600px;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin-left: 20px;
  transition-duration: 1s;
}
.client_secondary img {
  width: 120px;
  height: 120px;
}
.client_secondary p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  color: rgba(216, 229, 255, 0.5);
}

.before {
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 10%;
  z-index: 2;
}

.after {
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 10%;
  z-index: 2;
}

.slidebur_container {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  max-width: 1000px;
  height: 650px;
}

.slidebur_container::-webkit-scrollbar {
  width: 0px;
}
.slidebur_container::-webkit-scrollbar-track {
  background: rgba(255, 166, 0, 0); /* цвет зоны отслеживания */
}

.slidebur_container::-webkit-scrollbar-thumb {
  background-color: rgba(123, 176, 255, 0.25); /* цвет бегунка */
  border-radius: 20px; /* округлось бегунка */
  border: 3px solid rgba(123, 176, 255, 0.25); /* отступ вокруг бегунка */
}

@media screen and (max-width: 700px) {
  .clients_container h1 {
    font-size: 32px;
  }
}

@media (max-width: 600px) {
  .client_secondary {
    height: 400px;
    width: 312px;
  }

  .client_primary {
    height: 408px;
    width: 312px;
  }
  .client_primary img {
    width: 100px;
    height: 100px;
  }
  .client_primary p {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;

    color: #d8e5ff;
  }
  .clients_slider {
    height: 100%;
    width: 2900px;
  }
  .slidebur_container {
    height: 500px;
  }

  .clients_slider {
    padding-top: 20px;
  }
}

@media (max-width: 500px) {
  .client_primary p {
    font-size: 18px;
    font-weight: 100;
  }

  .clients_slider {
    height: 100%;
  }
  .slidebur_container {
    max-width: max-content;
  }

  .clients_container {
    height: 1000px;
  }
}

@media (max-width: 380px) {
  .client_primary p {
    font-size: 17px;
  }
}
