* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.Image-box {
  width: 100%;
  height: 130vh;
  background-color: #151722;
  padding:200px 100px;
  box-sizing: border-box;
  position: relative;
}
.Image-paragraf,
.Image-header {
  margin-left: 20px;
}

.Image-paragraf,
.Image-header {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 52px;
  color: #ffffff;
}

.Image-header {
  font-size: 64px;
  line-height: 92px;
  display: block;
  width: 50vw;
}
.Image-blue {
  color: #3cb9ff;
}
.Image-container {
  width: 60vw;
}


.Section_transp {
  width: 90vh;
  height: 90vh;
  position: absolute;
  right: 20px;
  top: 100px;
//   margin: 20px;
  opacity: 0.1;
  border-radius: 50%;
  overflow: hidden;
}

.Image-circle {
  display: inline-block;
  width: 20vw;
  height: 20vw;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  right: 100px;
  top: 30vh;
  z-index: 1;

}
.Section_chill {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.Circle-back{
    
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    position: absolute;
    right: 90px;
    top: 28vh;
    z-index: 0;
}
